nodered_templates/nodered_multi_flux.json
[
    {
        "id": "ae1ea15ef7bb6755",
        "type": "tab",
        "label": "Tild - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5dddcaffa2e8b69b",
        "type": "tab",
        "label": "Tild - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b410546d75d3c9d5",
        "type": "tab",
        "label": "AnteaM - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f21c46c035c992a",
        "type": "tab",
        "label": "AnteaM - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f66d81d34036c5b7",
        "type": "tab",
        "label": "Daisy OX - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb8a34fc4ebec379",
        "type": "tab",
        "label": "Daisy OX - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b46ff9d96820bf55",
        "type": "tab",
        "label": "Daisy PH - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2349c93e5cd823a",
        "type": "tab",
        "label": "Daisy PH - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85807b52580cde05",
        "type": "tab",
        "label": "Lynx - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e2b9af46dd236c7",
        "type": "tab",
        "label": "Phileo VP - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cb1cc7efa75688b",
        "type": "tab",
        "label": "Phileo VP - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e251644a49244c76",
        "type": "tab",
        "label": "Vigibrio - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8108b40239b7c42b",
        "type": "tab",
        "label": "Vigibrio - Desired",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "393193ef0612a6dc",
        "type": "tab",
        "label": "Ofix - Reported",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aee36a7803922720",
        "type": "group",
        "z": "5dddcaffa2e8b69b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bfcbc4a24deb52da",
            "98e8ca28c5284c11",
            "09ae772967bc4002",
            "562df6280732be20",
            "98e4dbae6e13d6df",
            "553de35f7c62fc9a",
            "0c0748d295df1b49",
            "7133a1bfb66d51e7",
            "aba34dcf772bab8f",
            "e9229d77a13ff20f",
            "6e6501a295cec288",
            "8619700f03c2cdb5",
            "5471d09a2dd8fdf2",
            "32111515210025fa",
            "20e82189c41e89e6",
            "5b1faecf4e1cdbd4"
        ],
        "x": 34,
        "y": 39,
        "w": 972,
        "h": 662
    },
    {
        "id": "6caabb31644a8c74",
        "type": "group",
        "z": "ae1ea15ef7bb6755",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "41fa62e4286e3457",
            "288b6205c4e0bf4c",
            "38629a2a4882969f",
            "04eb1267dc1ec2bd",
            "8a43400c04410edd",
            "9a2ead9aa9627be0",
            "836248b591c4d20c",
            "e223d591201320bb",
            "211e362c767cce48",
            "d8cf8728b85af4f0",
            "5317dcbcc5da5511",
            "32d6aee9ef029604",
            "9349d66cb4868a96",
            "1fdf92e430f0c3fb",
            "df4fe7f73b335f3e",
            "320d0767d1881f39",
            "473eb6e0cb102d71",
            "b39ae396d80ec508",
            "320d7eab57b9db30",
            "2202f11935e769dc",
            "a4c515bf27191c3f",
            "bf3b17f84053b01c",
            "707922094f762de4",
            "d2f3ebe1829384e5",
            "9c1fdfd865879aba",
            "c87b58ab210e032e",
            "de56e17bab92f383",
            "65afc5dfefdc1152"
        ],
        "x": 34,
        "y": 39,
        "w": 972,
        "h": 1142
    },
    {
        "id": "898e0905dcca933e",
        "type": "group",
        "z": "b410546d75d3c9d5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9f0b5b5624a4fb12",
            "13cf8847e6e6386d",
            "1cbc3310df653cf0",
            "2803e631a51be10f",
            "fa49d3af9ef3bb71",
            "6f8993d508b098a4",
            "f6c9b74cbaa48199",
            "1c8f1e8e11c2553a",
            "601e20dfdc4a826a",
            "46984cc3d6056adc",
            "185c18b249a846b3",
            "67cb8b92f765c966",
            "3d674c2a70ea4731",
            "3fc137a75011015d",
            "f26651030beedae8",
            "1148a225abae1fe5",
            "a22a991132cb7901",
            "b57dec87b56aa760",
            "08022f31572565da",
            "ee16cd9a290f5a9c",
            "e19901b10a60dd70",
            "b8f1cc65f4f6c4f6",
            "1e81fcef1336590a",
            "8d02a0075879b427",
            "c869386452915aad"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 1022
    },
    {
        "id": "85114e4db1865114",
        "type": "group",
        "z": "0f21c46c035c992a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "98477a8ce1eae3b8",
            "ca69aa03e8a89080",
            "234c5e5d8a7ecb66",
            "8ff706c013b92d1f",
            "6fd7c23b987f64a9",
            "69b9999ae178de8c",
            "7abf9fe16b575c10",
            "c4a3983cd1055560",
            "8403e48c3a7d121d",
            "ea223116f37efcc1",
            "1586764729db4b84",
            "848ad2a9e85e16f0",
            "ed6062147a3c98ce",
            "adfd6a94d4d89c55",
            "5ddaaa48dee7e73a",
            "f789500f89aa017d"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 662
    },
    {
        "id": "65fcc9ad30bcd2f4",
        "type": "group",
        "z": "f66d81d34036c5b7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "23d9e8e238710788",
            "c67552c972c918b9",
            "d105cff8cbe67c70",
            "27a403bdc5bdabb1",
            "6ee9c144bb5ce83d",
            "f6d88abcfb547fc5",
            "9f4f1db1b6fbab08",
            "529b336dcb68801b",
            "f08210f23d30784a",
            "5be1a715d74c52e3",
            "2e5510b20cea9eae",
            "dcb778e41575c214",
            "91a76790aa92f7f6",
            "d9277c47df4e1cc9",
            "37ac704027b8b2e9",
            "e008732102cae9c9",
            "6166ceaf1eb3ffe8",
            "9081794a0102d20c",
            "04ce5ca3ae94a8a6"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 782
    },
    {
        "id": "1150730e834367a9",
        "type": "group",
        "z": "cb8a34fc4ebec379",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77dcec239592b889",
            "266ccc75df173510",
            "257d0ed0a318c4bc",
            "20dbe2598ae2576f",
            "48b76f47500fdeff",
            "8b34d02d46287f63",
            "0f0ebeae78ff82ae",
            "9bac6b9ff64f3fdf",
            "e34729812044ddf4",
            "893ec423eb1d4fbd"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 422
    },
    {
        "id": "1af911adfba126ca",
        "type": "group",
        "z": "b46ff9d96820bf55",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "82f45c10f32cf6ea",
            "e654ed55fbe82cda",
            "76f7b92d43321d34",
            "a8386fcd0abbc022",
            "2fb87cb71a4afb5b",
            "540f9a13f29f713c",
            "1b9b0c9e1ef6e7a2",
            "535bc3b5df2acd7f",
            "480dcad06c43c25d",
            "e511d2140b35702f",
            "856ddf2e913b86b1",
            "408997dbd183f7b6",
            "115ccd5cb278f9a1",
            "419912d26a05266d",
            "976b37dca2d8671f",
            "459feaaeca375730",
            "41da9049dcc533a8",
            "1f4db3881be21acb",
            "9357851d66601727",
            "7ff6dfa84bf9fc54",
            "500bc1413a587d75",
            "bae46566b09c7fee"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 902
    },
    {
        "id": "add786739249e4f4",
        "type": "group",
        "z": "b2349c93e5cd823a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b448f3df811fb43f",
            "8ba0ef0a44063f51",
            "0b1ddf3833d8c2aa",
            "fc74126554780283",
            "0dadfb4f1b5add7c",
            "1cd277dc3a22d0d2",
            "21771ef928f35edb",
            "aeea6b93070f6e6d",
            "109baea334cf85c3",
            "bf22cf5a524ecf6e"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 422
    },
    {
        "id": "2f7e3bd8dbb10966",
        "type": "group",
        "z": "85807b52580cde05",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "964dfea75074e0d1",
            "144702218e0288ba",
            "5fc082bec974b17d",
            "fbc739a64da18dc7",
            "0614cd329f867e85",
            "389d3586d89cdbf1",
            "66f268fe9bf6760d",
            "a6a82292d0068029",
            "322aeef86a67f22d",
            "5805c041de77e5e9"
        ],
        "x": 34,
        "y": 39,
        "w": 992,
        "h": 422
    },
    {
        "id": "a069bef51a2fc8d9",
        "type": "group",
        "z": "6e2b9af46dd236c7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "40bfca2c9886f1f2",
            "c6045c49fc20c801",
            "280d3e255960f556",
            "e4644dd1a045c772",
            "0c9f09a290662264",
            "c032e62333bbaac9",
            "4b3a79b77ef19ad9",
            "408c1818d12a31b5",
            "46f0426da36813d1",
            "d456eee277a3ee40",
            "290584c5fd338f1d",
            "bf877fbc291017f5",
            "bc4dc7ee806045d2",
            "73d8e7ccbcb2cffe",
            "663cdba69c818ed8",
            "25f1e77302392848",
            "150d0da5ca8fe25a",
            "505469f28c9527c8",
            "f654e0cd7acb5d05",
            "f3421321f0a868a8",
            "b13cae67df620c97",
            "c289978a3784a619",
            "9dd82fd7b72d41ef",
            "d7ed111f659a2007",
            "a198b47088897188",
            "1ff9335efdaebe9f",
            "07475af7c4787e9c",
            "18c7908bb90dfd43",
            "7abe40520c76a8cc",
            "afa1619bfed4ddac",
            "33140548b42a84bf"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 1262
    },
    {
        "id": "797dd25287f0cf86",
        "type": "group",
        "z": "2cb1cc7efa75688b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "958fc43f6508bc12",
            "99348be1e82595a3",
            "70917467c1240b89",
            "0edf41f411ed80e2",
            "d19f58d0f8aaa89c",
            "8744ad8a19811f6c",
            "30201c0d6eeb26ff",
            "d23627a81b4c6944",
            "451b214cb897f7cc",
            "2e4a6e57229a0109"
        ],
        "x": 34,
        "y": 39,
        "w": 1032,
        "h": 422
    },
    {
        "id": "28d8c8bd1e20fc59",
        "type": "group",
        "z": "e251644a49244c76",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "58f7648297c8eb9c",
            "e96595dd2c036e15",
            "73dc8cd2e4a5fa7f",
            "1fa5cc9606809b9e",
            "bd60afc243cbf797",
            "cf13d329156bb514",
            "c1d9a3eaa6db5931",
            "22bad5a2905734a9",
            "580fb71bd1fc0365",
            "902de65e6a588828",
            "3e80042bb0987ce5",
            "9f3a3bfabd718cd5",
            "442aba1601c9aa47",
            "816c5c526a1623d3",
            "85ca61156ea534d3",
            "caa836b3d655c3a7"
        ],
        "x": 34,
        "y": 39,
        "w": 992,
        "h": 662
    },
    {
        "id": "03b66dbdad600ad4",
        "type": "group",
        "z": "8108b40239b7c42b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f88941c33f09679f",
            "a8b4f8543857fac5",
            "893ca6120d5825d0",
            "6191b63de501828d",
            "0b0546a065addf86",
            "15e80ef322d56b75",
            "c49eaf5c6a9edaf5",
            "78956219da2a6a57",
            "7c102a81577d605c",
            "0e6e5b39e8e0c55c",
            "4cfec12ef7ac6307",
            "3b686942f97d5f1f",
            "f53bc34c1d8b20ac",
            "1f48452a094c699f",
            "622b4e30c9d89e6f",
            "bc19f12088a57f4a"
        ],
        "x": 34,
        "y": 39,
        "w": 992,
        "h": 662
    },
    {
        "id": "e18a512fb307ea7a",
        "type": "group",
        "z": "393193ef0612a6dc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "afb7d2c6c59bdf34",
            "b6fc02a25fc67a7a",
            "e7ed99c0cdde46af",
            "cdf667666eed3ef4",
            "41d1ca20b955e25a",
            "676d7739f1b503ca",
            "1746c8f2cc03181a",
            "119a8a6995d83851",
            "ab8c2262af198878",
            "904faa1d30c72578",
            "5d99fdb937f7a6e6",
            "05845e9dc104334a",
            "cebe7063134eb5eb",
            "04d1138ab770ebcb",
            "8f5951de2d2026ce",
            "af671e49280d31f1",
            "eb91f8bdf4c91064",
            "6a1792a5b14daa20",
            "7cee37c248ee05bc",
            "19a0a663891f7d93",
            "b998371d67c050c7",
            "a86654cb4d0e64f0"
        ],
        "x": 34,
        "y": 39,
        "w": 1012,
        "h": 902
    },
    {
        "id": "b516022b.307cf",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "c2645f3e28f39138",
        "type": "mqtt-broker",
        "name": "mqtt_vigipool",
        "broker": "192.168.41.999",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3f5aaaee2b30dcf",
        "type": "mqtt-broker",
        "name": "mqtt_local",
        "broker": "192.168.41.888",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41fa62e4286e3457",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "288b6205c4e0bf4c",
                "38629a2a4882969f"
            ]
        ]
    },
    {
        "id": "288b6205c4e0bf4c",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "38629a2a4882969f",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "04eb1267dc1ec2bd",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "8a43400c04410edd",
                "9a2ead9aa9627be0"
            ]
        ]
    },
    {
        "id": "8a43400c04410edd",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "9a2ead9aa9627be0",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "836248b591c4d20c",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "e223d591201320bb",
                "211e362c767cce48"
            ]
        ]
    },
    {
        "id": "e223d591201320bb",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "211e362c767cce48",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "d8cf8728b85af4f0",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "5317dcbcc5da5511",
                "32d6aee9ef029604"
            ]
        ]
    },
    {
        "id": "5317dcbcc5da5511",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "32d6aee9ef029604",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "9349d66cb4868a96",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "1fdf92e430f0c3fb",
                "df4fe7f73b335f3e"
            ]
        ]
    },
    {
        "id": "1fdf92e430f0c3fb",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "df4fe7f73b335f3e",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "320d0767d1881f39",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 840,
        "wires": [
            [
                "473eb6e0cb102d71",
                "b39ae396d80ec508"
            ]
        ]
    },
    {
        "id": "473eb6e0cb102d71",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "b39ae396d80ec508",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 840,
        "wires": []
    },
    {
        "id": "320d7eab57b9db30",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 960,
        "wires": [
            [
                "2202f11935e769dc",
                "a4c515bf27191c3f"
            ]
        ]
    },
    {
        "id": "2202f11935e769dc",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a4c515bf27191c3f",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "bf3b17f84053b01c",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "707922094f762de4",
                "d2f3ebe1829384e5"
            ]
        ]
    },
    {
        "id": "707922094f762de4",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d2f3ebe1829384e5",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9c1fdfd865879aba",
        "type": "comment",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "Tild - Reported",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "c87b58ab210e032e",
        "type": "mqtt in",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "de56e17bab92f383",
        "type": "debug",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "65afc5dfefdc1152",
        "type": "mqtt out",
        "z": "ae1ea15ef7bb6755",
        "g": "6caabb31644a8c74",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfcbc4a24deb52da",
        "type": "mqtt in",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "98e8ca28c5284c11",
                "09ae772967bc4002"
            ]
        ]
    },
    {
        "id": "98e8ca28c5284c11",
        "type": "debug",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "09ae772967bc4002",
        "type": "mqtt out",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "562df6280732be20",
        "type": "mqtt in",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "98e4dbae6e13d6df",
                "553de35f7c62fc9a"
            ]
        ]
    },
    {
        "id": "98e4dbae6e13d6df",
        "type": "debug",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "553de35f7c62fc9a",
        "type": "mqtt out",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "0c0748d295df1b49",
        "type": "mqtt in",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "7133a1bfb66d51e7",
                "aba34dcf772bab8f"
            ]
        ]
    },
    {
        "id": "7133a1bfb66d51e7",
        "type": "debug",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "aba34dcf772bab8f",
        "type": "mqtt out",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "e9229d77a13ff20f",
        "type": "mqtt in",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "6e6501a295cec288",
                "8619700f03c2cdb5"
            ]
        ]
    },
    {
        "id": "6e6501a295cec288",
        "type": "debug",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "8619700f03c2cdb5",
        "type": "mqtt out",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "5471d09a2dd8fdf2",
        "type": "comment",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "Tild - Desired",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "32111515210025fa",
        "type": "mqtt in",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "5b1faecf4e1cdbd4",
                "20e82189c41e89e6"
            ]
        ]
    },
    {
        "id": "20e82189c41e89e6",
        "type": "debug",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "5b1faecf4e1cdbd4",
        "type": "mqtt out",
        "z": "5dddcaffa2e8b69b",
        "g": "aee36a7803922720",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f0b5b5624a4fb12",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "13cf8847e6e6386d",
                "1cbc3310df653cf0"
            ]
        ]
    },
    {
        "id": "13cf8847e6e6386d",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "1cbc3310df653cf0",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "2803e631a51be10f",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "fa49d3af9ef3bb71",
                "6f8993d508b098a4"
            ]
        ]
    },
    {
        "id": "fa49d3af9ef3bb71",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f8993d508b098a4",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "f6c9b74cbaa48199",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "1c8f1e8e11c2553a",
                "601e20dfdc4a826a"
            ]
        ]
    },
    {
        "id": "1c8f1e8e11c2553a",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "601e20dfdc4a826a",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "46984cc3d6056adc",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "185c18b249a846b3",
                "67cb8b92f765c966"
            ]
        ]
    },
    {
        "id": "185c18b249a846b3",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "67cb8b92f765c966",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "3d674c2a70ea4731",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "3fc137a75011015d",
                "f26651030beedae8"
            ]
        ]
    },
    {
        "id": "3fc137a75011015d",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "f26651030beedae8",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "1148a225abae1fe5",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 840,
        "wires": [
            [
                "a22a991132cb7901",
                "b57dec87b56aa760"
            ]
        ]
    },
    {
        "id": "a22a991132cb7901",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "b57dec87b56aa760",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 840,
        "wires": []
    },
    {
        "id": "08022f31572565da",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "ee16cd9a290f5a9c",
                "e19901b10a60dd70"
            ]
        ]
    },
    {
        "id": "ee16cd9a290f5a9c",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e19901b10a60dd70",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 960,
        "wires": []
    },
    {
        "id": "b8f1cc65f4f6c4f6",
        "type": "comment",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "AnteaM - Reported",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e81fcef1336590a",
        "type": "mqtt in",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8d02a0075879b427",
        "type": "debug",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "c869386452915aad",
        "type": "mqtt out",
        "z": "b410546d75d3c9d5",
        "g": "898e0905dcca933e",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "98477a8ce1eae3b8",
        "type": "mqtt in",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/filt_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "ca69aa03e8a89080",
                "234c5e5d8a7ecb66"
            ]
        ]
    },
    {
        "id": "ca69aa03e8a89080",
        "type": "debug",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "234c5e5d8a7ecb66",
        "type": "mqtt out",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/filt_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "8ff706c013b92d1f",
        "type": "mqtt in",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "6fd7c23b987f64a9",
                "69b9999ae178de8c"
            ]
        ]
    },
    {
        "id": "6fd7c23b987f64a9",
        "type": "debug",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "69b9999ae178de8c",
        "type": "mqtt out",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "7abf9fe16b575c10",
        "type": "mqtt in",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "c4a3983cd1055560",
                "8403e48c3a7d121d"
            ]
        ]
    },
    {
        "id": "c4a3983cd1055560",
        "type": "debug",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "8403e48c3a7d121d",
        "type": "mqtt out",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea223116f37efcc1",
        "type": "mqtt in",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "1586764729db4b84",
                "848ad2a9e85e16f0"
            ]
        ]
    },
    {
        "id": "1586764729db4b84",
        "type": "debug",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "848ad2a9e85e16f0",
        "type": "mqtt out",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "ed6062147a3c98ce",
        "type": "comment",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "AnteaM - Desired",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "adfd6a94d4d89c55",
        "type": "mqtt in",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "f789500f89aa017d",
                "5ddaaa48dee7e73a"
            ]
        ]
    },
    {
        "id": "5ddaaa48dee7e73a",
        "type": "debug",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "f789500f89aa017d",
        "type": "mqtt out",
        "z": "0f21c46c035c992a",
        "g": "85114e4db1865114",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "23d9e8e238710788",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c67552c972c918b9",
                "d105cff8cbe67c70"
            ]
        ]
    },
    {
        "id": "c67552c972c918b9",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "d105cff8cbe67c70",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "27a403bdc5bdabb1",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "6ee9c144bb5ce83d",
                "f6d88abcfb547fc5"
            ]
        ]
    },
    {
        "id": "6ee9c144bb5ce83d",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "f6d88abcfb547fc5",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "9f4f1db1b6fbab08",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "529b336dcb68801b",
                "f08210f23d30784a"
            ]
        ]
    },
    {
        "id": "529b336dcb68801b",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "f08210f23d30784a",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "5be1a715d74c52e3",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "2e5510b20cea9eae",
                "dcb778e41575c214"
            ]
        ]
    },
    {
        "id": "2e5510b20cea9eae",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "dcb778e41575c214",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "91a76790aa92f7f6",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "d9277c47df4e1cc9",
                "37ac704027b8b2e9"
            ]
        ]
    },
    {
        "id": "d9277c47df4e1cc9",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "37ac704027b8b2e9",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "e008732102cae9c9",
        "type": "comment",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "Daisy OX - Reported",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "6166ceaf1eb3ffe8",
        "type": "mqtt in",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9081794a0102d20c",
        "type": "debug",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "04ce5ca3ae94a8a6",
        "type": "mqtt out",
        "z": "f66d81d34036c5b7",
        "g": "65fcc9ad30bcd2f4",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "77dcec239592b889",
        "type": "mqtt in",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "266ccc75df173510",
                "257d0ed0a318c4bc"
            ]
        ]
    },
    {
        "id": "266ccc75df173510",
        "type": "debug",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "257d0ed0a318c4bc",
        "type": "mqtt out",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "20dbe2598ae2576f",
        "type": "mqtt in",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "48b76f47500fdeff",
                "8b34d02d46287f63"
            ]
        ]
    },
    {
        "id": "48b76f47500fdeff",
        "type": "debug",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "8b34d02d46287f63",
        "type": "mqtt out",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f0ebeae78ff82ae",
        "type": "comment",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "Daisy OX - Desired",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "9bac6b9ff64f3fdf",
        "type": "mqtt in",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "893ec423eb1d4fbd",
                "e34729812044ddf4"
            ]
        ]
    },
    {
        "id": "e34729812044ddf4",
        "type": "debug",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "893ec423eb1d4fbd",
        "type": "mqtt out",
        "z": "cb8a34fc4ebec379",
        "g": "1150730e834367a9",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "82f45c10f32cf6ea",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "e654ed55fbe82cda",
                "76f7b92d43321d34"
            ]
        ]
    },
    {
        "id": "e654ed55fbe82cda",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "76f7b92d43321d34",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "a8386fcd0abbc022",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "2fb87cb71a4afb5b",
                "540f9a13f29f713c"
            ]
        ]
    },
    {
        "id": "2fb87cb71a4afb5b",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "540f9a13f29f713c",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "1b9b0c9e1ef6e7a2",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "535bc3b5df2acd7f",
                "480dcad06c43c25d"
            ]
        ]
    },
    {
        "id": "535bc3b5df2acd7f",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "480dcad06c43c25d",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "e511d2140b35702f",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "856ddf2e913b86b1",
                "408997dbd183f7b6"
            ]
        ]
    },
    {
        "id": "856ddf2e913b86b1",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "408997dbd183f7b6",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "115ccd5cb278f9a1",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "419912d26a05266d",
                "976b37dca2d8671f"
            ]
        ]
    },
    {
        "id": "419912d26a05266d",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "976b37dca2d8671f",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "459feaaeca375730",
        "type": "comment",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "Daisy PH - Reported",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "41da9049dcc533a8",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1f4db3881be21acb",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "9357851d66601727",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "7ff6dfa84bf9fc54",
        "type": "mqtt out",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "500bc1413a587d75",
        "type": "mqtt in",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "bae46566b09c7fee",
                "7ff6dfa84bf9fc54"
            ]
        ]
    },
    {
        "id": "bae46566b09c7fee",
        "type": "debug",
        "z": "b46ff9d96820bf55",
        "g": "1af911adfba126ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "b448f3df811fb43f",
        "type": "mqtt in",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "8ba0ef0a44063f51",
                "0b1ddf3833d8c2aa"
            ]
        ]
    },
    {
        "id": "8ba0ef0a44063f51",
        "type": "debug",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b1ddf3833d8c2aa",
        "type": "mqtt out",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc74126554780283",
        "type": "mqtt in",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "0dadfb4f1b5add7c",
                "1cd277dc3a22d0d2"
            ]
        ]
    },
    {
        "id": "0dadfb4f1b5add7c",
        "type": "debug",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "1cd277dc3a22d0d2",
        "type": "mqtt out",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "21771ef928f35edb",
        "type": "comment",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "Daisy PH - Desired",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "aeea6b93070f6e6d",
        "type": "mqtt in",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "bf22cf5a524ecf6e",
                "109baea334cf85c3"
            ]
        ]
    },
    {
        "id": "109baea334cf85c3",
        "type": "debug",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf22cf5a524ecf6e",
        "type": "mqtt out",
        "z": "b2349c93e5cd823a",
        "g": "add786739249e4f4",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "964dfea75074e0d1",
        "type": "mqtt in",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "144702218e0288ba",
                "5fc082bec974b17d"
            ]
        ]
    },
    {
        "id": "144702218e0288ba",
        "type": "debug",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "5fc082bec974b17d",
        "type": "mqtt out",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "fbc739a64da18dc7",
        "type": "mqtt in",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "0614cd329f867e85",
                "389d3586d89cdbf1"
            ]
        ]
    },
    {
        "id": "0614cd329f867e85",
        "type": "debug",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "389d3586d89cdbf1",
        "type": "mqtt out",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "66f268fe9bf6760d",
        "type": "comment",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "Lynx - Reported",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "a6a82292d0068029",
        "type": "mqtt in",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "5805c041de77e5e9",
                "322aeef86a67f22d"
            ]
        ]
    },
    {
        "id": "322aeef86a67f22d",
        "type": "debug",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "5805c041de77e5e9",
        "type": "mqtt out",
        "z": "85807b52580cde05",
        "g": "2f7e3bd8dbb10966",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "40bfca2c9886f1f2",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "c6045c49fc20c801",
                "280d3e255960f556"
            ]
        ]
    },
    {
        "id": "c6045c49fc20c801",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "280d3e255960f556",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4644dd1a045c772",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "0c9f09a290662264",
                "c032e62333bbaac9"
            ]
        ]
    },
    {
        "id": "0c9f09a290662264",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "c032e62333bbaac9",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b3a79b77ef19ad9",
        "type": "comment",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "Phileo VP - Reported",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "408c1818d12a31b5",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "46f0426da36813d1",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "d456eee277a3ee40",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "290584c5fd338f1d",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "bf877fbc291017f5",
                "bc4dc7ee806045d2"
            ]
        ]
    },
    {
        "id": "bf877fbc291017f5",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc4dc7ee806045d2",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "73d8e7ccbcb2cffe",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "663cdba69c818ed8",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "25f1e77302392848",
                "73d8e7ccbcb2cffe"
            ]
        ]
    },
    {
        "id": "25f1e77302392848",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "150d0da5ca8fe25a",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "505469f28c9527c8",
                "f654e0cd7acb5d05"
            ]
        ]
    },
    {
        "id": "505469f28c9527c8",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "f654e0cd7acb5d05",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "f3421321f0a868a8",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/sw_vers/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "b13cae67df620c97",
                "c289978a3784a619"
            ]
        ]
    },
    {
        "id": "b13cae67df620c97",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "c289978a3784a619",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/sw_vers/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "9dd82fd7b72d41ef",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 960,
        "wires": [
            [
                "d7ed111f659a2007",
                "a198b47088897188"
            ]
        ]
    },
    {
        "id": "d7ed111f659a2007",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a198b47088897188",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "1ff9335efdaebe9f",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "07475af7c4787e9c",
                "18c7908bb90dfd43"
            ]
        ]
    },
    {
        "id": "07475af7c4787e9c",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1140,
        "wires": []
    },
    {
        "id": "18c7908bb90dfd43",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7abe40520c76a8cc",
        "type": "mqtt in",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/hw_vers/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1200,
        "wires": [
            [
                "afa1619bfed4ddac",
                "33140548b42a84bf"
            ]
        ]
    },
    {
        "id": "afa1619bfed4ddac",
        "type": "debug",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1260,
        "wires": []
    },
    {
        "id": "33140548b42a84bf",
        "type": "mqtt out",
        "z": "6e2b9af46dd236c7",
        "g": "a069bef51a2fc8d9",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/hw_vers/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 1200,
        "wires": []
    },
    {
        "id": "958fc43f6508bc12",
        "type": "mqtt in",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "99348be1e82595a3",
                "70917467c1240b89"
            ]
        ]
    },
    {
        "id": "99348be1e82595a3",
        "type": "debug",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "70917467c1240b89",
        "type": "mqtt out",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "0edf41f411ed80e2",
        "type": "mqtt in",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "d19f58d0f8aaa89c",
                "8744ad8a19811f6c"
            ]
        ]
    },
    {
        "id": "d19f58d0f8aaa89c",
        "type": "debug",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "8744ad8a19811f6c",
        "type": "mqtt out",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "30201c0d6eeb26ff",
        "type": "comment",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "Phileo VP - Desired",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "d23627a81b4c6944",
        "type": "mqtt in",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "2e4a6e57229a0109",
                "451b214cb897f7cc"
            ]
        ]
    },
    {
        "id": "451b214cb897f7cc",
        "type": "debug",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e4a6e57229a0109",
        "type": "mqtt out",
        "z": "2cb1cc7efa75688b",
        "g": "797dd25287f0cf86",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "58f7648297c8eb9c",
        "type": "mqtt in",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "e96595dd2c036e15",
                "73dc8cd2e4a5fa7f"
            ]
        ]
    },
    {
        "id": "e96595dd2c036e15",
        "type": "debug",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "73dc8cd2e4a5fa7f",
        "type": "mqtt out",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "1fa5cc9606809b9e",
        "type": "mqtt in",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "bd60afc243cbf797",
                "cf13d329156bb514"
            ]
        ]
    },
    {
        "id": "bd60afc243cbf797",
        "type": "debug",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "cf13d329156bb514",
        "type": "mqtt out",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1d9a3eaa6db5931",
        "type": "comment",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "Vigibrio - Reported",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "22bad5a2905734a9",
        "type": "mqtt in",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "580fb71bd1fc0365",
        "type": "debug",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "902de65e6a588828",
        "type": "mqtt out",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "3e80042bb0987ce5",
        "type": "mqtt in",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "9f3a3bfabd718cd5",
                "442aba1601c9aa47"
            ]
        ]
    },
    {
        "id": "9f3a3bfabd718cd5",
        "type": "debug",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "442aba1601c9aa47",
        "type": "mqtt out",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "816c5c526a1623d3",
        "type": "mqtt out",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "85ca61156ea534d3",
        "type": "mqtt in",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "caa836b3d655c3a7",
                "816c5c526a1623d3"
            ]
        ]
    },
    {
        "id": "caa836b3d655c3a7",
        "type": "debug",
        "z": "e251644a49244c76",
        "g": "28d8c8bd1e20fc59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "f88941c33f09679f",
        "type": "mqtt in",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "a8b4f8543857fac5",
                "893ca6120d5825d0"
            ]
        ]
    },
    {
        "id": "a8b4f8543857fac5",
        "type": "debug",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "893ca6120d5825d0",
        "type": "mqtt out",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "6191b63de501828d",
        "type": "mqtt in",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "0b0546a065addf86",
                "15e80ef322d56b75"
            ]
        ]
    },
    {
        "id": "0b0546a065addf86",
        "type": "debug",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "15e80ef322d56b75",
        "type": "mqtt out",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "c49eaf5c6a9edaf5",
        "type": "comment",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "Vigibrio - Desired",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "78956219da2a6a57",
        "type": "mqtt in",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7c102a81577d605c",
        "type": "debug",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "0e6e5b39e8e0c55c",
        "type": "mqtt out",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "4cfec12ef7ac6307",
        "type": "mqtt in",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "3b686942f97d5f1f",
                "f53bc34c1d8b20ac"
            ]
        ]
    },
    {
        "id": "3b686942f97d5f1f",
        "type": "debug",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "f53bc34c1d8b20ac",
        "type": "mqtt out",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f48452a094c699f",
        "type": "mqtt out",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "622b4e30c9d89e6f",
        "type": "mqtt in",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "bc19f12088a57f4a",
                "1f48452a094c699f"
            ]
        ]
    },
    {
        "id": "bc19f12088a57f4a",
        "type": "debug",
        "z": "8108b40239b7c42b",
        "g": "03b66dbdad600ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "afb7d2c6c59bdf34",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "b6fc02a25fc67a7a",
                "e7ed99c0cdde46af"
            ]
        ]
    },
    {
        "id": "b6fc02a25fc67a7a",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "e7ed99c0cdde46af",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "cdf667666eed3ef4",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "41d1ca20b955e25a",
                "676d7739f1b503ca"
            ]
        ]
    },
    {
        "id": "41d1ca20b955e25a",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "676d7739f1b503ca",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "1746c8f2cc03181a",
        "type": "comment",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "Ofix - Reported",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "119a8a6995d83851",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ab8c2262af198878",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "904faa1d30c72578",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "5d99fdb937f7a6e6",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "05845e9dc104334a",
                "cebe7063134eb5eb"
            ]
        ]
    },
    {
        "id": "05845e9dc104334a",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "cebe7063134eb5eb",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "04d1138ab770ebcb",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "8f5951de2d2026ce",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "af671e49280d31f1",
                "04d1138ab770ebcb"
            ]
        ]
    },
    {
        "id": "af671e49280d31f1",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "eb91f8bdf4c91064",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "6a1792a5b14daa20",
                "7cee37c248ee05bc"
            ]
        ]
    },
    {
        "id": "6a1792a5b14daa20",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "7cee37c248ee05bc",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "19a0a663891f7d93",
        "type": "mqtt in",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u8_r/flow_on/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "b998371d67c050c7",
                "a86654cb4d0e64f0"
            ]
        ]
    },
    {
        "id": "b998371d67c050c7",
        "type": "debug",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "a86654cb4d0e64f0",
        "type": "mqtt out",
        "z": "393193ef0612a6dc",
        "g": "e18a512fb307ea7a",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u8_r/flow_on/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 840,
        "wires": []
    }
]