nodered_templates/nodered_one_flux.json
[
    {
        "id": "dbe1d2f6303abda1",
        "type": "tab",
        "label": "Vigipool Products",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7822612f9e7f73ec",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d662e5178d6c3e0c",
            "4586c4e6fe4d9885",
            "9e31ca9855939762",
            "09f6e9206fd8fd7f",
            "d9874e07078ae7d4",
            "2e89f8e173bca0af",
            "fddec7351cb7d8fd",
            "1d50dd2d8c8185d9",
            "a8da112124153f86",
            "294e9ad57323fbb5",
            "38a570eca1656a59",
            "db122108c3c81983",
            "76e52d5cd5aa8b9d",
            "43b6ba8172f6311f",
            "294cd066763d2b0a",
            "9fe5c0250cb551a0",
            "fdc48aed0e0fcee4",
            "4f95a604270f1d26",
            "d576056825d91240",
            "c9e407df9e5b52de",
            "86bf70e06a84bb65",
            "64c43daa5bd30f92",
            "a55fac83565222b9",
            "3d16d2f8bf672123",
            "3080a2292a8e8f33",
            "9a2bf44e437af364",
            "df7f2433fa772df7",
            "57843bcb989af739"
        ],
        "x": 34,
        "y": 39,
        "w": 992,
        "h": 1142
    },
    {
        "id": "cbea10643e870bd6",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3d9bb938a862de0c",
            "da5f965d0b44815a",
            "c7361e40c1b54223",
            "2a25a9ab583e40b5",
            "217e4d4200c1b503",
            "48c16d8b8e03cd56",
            "eae5c826839e042d",
            "bb2970362376ecd6",
            "f2a59b9c40d42ce7",
            "8a50e3d235fc3e39",
            "a48781f1a8bd070a",
            "675865b58b28722c",
            "c42b9f597cdd8870",
            "e290aea84f9210bb",
            "0b4f92c4033f963b",
            "5d106a016966ab99"
        ],
        "x": 34,
        "y": 1239,
        "w": 972,
        "h": 662
    },
    {
        "id": "9d57858d445a279a",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5b91f6044888ebab",
            "57b3d9fc83ca1ecd",
            "b7679d18c7e855a5",
            "1338b09527fd5ae2",
            "fb78df5d80a055db",
            "234ee30991825d9b",
            "7325ea3d6c7c30fd",
            "19c266acf5169073",
            "32332b513023a804",
            "c18d7df68595120d",
            "2d571af97fa87e00",
            "4a48c1eed9b04e85",
            "77e5877662c2e8ea",
            "5be68b31eb3b4697",
            "d81cb5a704e50f4c",
            "9984d87cf1e0c50c",
            "411535f7af1a944d",
            "0d0e45736b868656",
            "64f766970469fa9f",
            "2cc56bde752b7cd7",
            "a11da917fbd43e1a",
            "0a15569a6a54412e",
            "53e6d18b6e871f68",
            "c65259de21129143",
            "7293ff7473804f7a"
        ],
        "x": 34,
        "y": 1959,
        "w": 1052,
        "h": 1022
    },
    {
        "id": "05b8df37aa7543c6",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e9381c406ffcbe03",
            "768110c512a427d2",
            "678599a1a75ec860",
            "b404b0dc5ad64c0f",
            "2fdc1d881628cd81",
            "645241f662de1e1a",
            "c21a379486cc21fa",
            "d573ad6dd73497de",
            "01579c1d722856f5",
            "aed6395dbb156bd0",
            "3d325f6fae9078f3",
            "82efe38ff50624d1",
            "5dc2cb1414dfbf96",
            "568a06d89dd7af6a",
            "bd49d2d574a862a0",
            "b0a2a3865b7ded15"
        ],
        "x": 34,
        "y": 3039,
        "w": 1052,
        "h": 662
    },
    {
        "id": "e2873dcd279ca856",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "36d8c6ecdcc66ee4",
            "2c6a34e97ac4f1cd",
            "aba4657d86daecf9",
            "a99f34d3372f24cd",
            "e247ef3c471786d3",
            "b0acbeef6ee9d592",
            "192e49e45cc98e50",
            "d85451d45d34d5e0",
            "7e195b7c7743f0a2",
            "a077d56c5d82b090",
            "13d84f6e6c522101",
            "4afdc82d2d900d39",
            "26a45481c4b9b159",
            "8643670aca2ac00f",
            "5da8af696468dfa3",
            "9821b7fd06ecd685",
            "11166e1cb33377b3",
            "18238e629b829ac8",
            "b4f2649aa99aadbf"
        ],
        "x": 34,
        "y": 3759,
        "w": 1052,
        "h": 782
    },
    {
        "id": "49ff7370395e19da",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b42832148683f0a3",
            "5ee103b4bceaf33b",
            "f01e2147da922bb8",
            "8a922823ac0df337",
            "83f3114936f8f83d",
            "1f17f8ad85684805",
            "2cb163d6a6abec48",
            "cc98f43356d50bca",
            "904472c9a1cd20bf",
            "f0d116c4f41adac4"
        ],
        "x": 34,
        "y": 4599,
        "w": 1052,
        "h": 422
    },
    {
        "id": "b7bdec72ea998e86",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d36c4e6837d9937e",
            "c9702435e57f9c1a",
            "adef2746145e7323",
            "1983a487cec63dca",
            "1c1e9d0d57b06edb",
            "49e25fa2cd686490",
            "62d160c87cb8f78e",
            "ce498a3d57368774",
            "1309ba50f68cba6c",
            "fe7f79c6dad722e3",
            "e30953fb9e572116",
            "7d1c2fb7cf2df5aa",
            "9455c9cf45e894f8",
            "b877123738c1411d",
            "1839caa4080b114d",
            "47cce9bbba55108b",
            "39f67bfe010d585d",
            "094da0a7acd32c38",
            "26085e7665f7111f",
            "bb54215bf26f07d9",
            "16015b441d1a2199",
            "7d16758a9ff8db80"
        ],
        "x": 34,
        "y": 5079,
        "w": 1052,
        "h": 902
    },
    {
        "id": "3c64a7d45cc93a46",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8c6a9d066c035a6a",
            "19a0164d7bbc205c",
            "e8bafb3c3ae38947",
            "74e84c79427fac1c",
            "c7e069017250b4ef",
            "a4d2b912c9d14524",
            "1a6f555c7288634a",
            "4b20e42f89a592cf",
            "b54674daa48b23c9",
            "05aa3e207ee7568c"
        ],
        "x": 34,
        "y": 6039,
        "w": 1052,
        "h": 422
    },
    {
        "id": "ac731eebb56260a7",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2a863272aee9423a",
            "f87f4518901ac854",
            "8b04ba083414674e",
            "c0a960c189210efc",
            "4ca1e062752e1b3f",
            "a19d3959697bb1ec",
            "094e10335ba69076",
            "c9c430d912c54cc1",
            "fe22cbf40cd04360",
            "b72bee47d1dddb0a"
        ],
        "x": 34,
        "y": 6519,
        "w": 992,
        "h": 422
    },
    {
        "id": "bfb8454bdd3f2095",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b64fba8cda5e06ce",
            "93fce8d61a2c2ead",
            "3122ea6d0922b771",
            "72a204b87129c3d9",
            "cd624d31371ef944",
            "1a6fc6b48d61b7c2",
            "de852ba850dfeb51",
            "76cef43532f98dda",
            "db94e9c360ee567a",
            "80a8790b735ae47e",
            "990c5fed4d22201e",
            "3ddf14fcca801653",
            "a6c68a83f9ec1a47",
            "26d3bf8d0f1e888f",
            "ffb4ea7707a4e88f",
            "8619cbb7baa68c41",
            "3962d2a69376d7af",
            "c24789fb98cfa65a",
            "8bb1d361e7196673",
            "ec627a4bb0596422",
            "858eaa9e0e9c35ab",
            "f5c1bc35d1037ec1",
            "ef8c5f2e1c5afa09",
            "db2b6e1604c6d27c",
            "183a2bce3a85225c",
            "8d3ae6ce9c71f9a6",
            "105360f62b457dbe",
            "969d9868e50f16f7",
            "700f312a47b8d3ff",
            "1c34bfd97d4d46c5",
            "6c0a7b3d9f4faf5f"
        ],
        "x": 1134,
        "y": 39,
        "w": 1052,
        "h": 1262
    },
    {
        "id": "4c481817f8ffb91e",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "344fa2f5aafb2577",
            "2912c0f72b82b70d",
            "642a62c321b22a56",
            "37aab889c7eab549",
            "6fa3c21756ddbdd7",
            "78015fa8f4baedc1",
            "034ccf583504bad3",
            "b8cf2b2f79eb44fb",
            "446d1fd65046f02d",
            "c7a16e1dde3ae333"
        ],
        "x": 1134,
        "y": 1359,
        "w": 1032,
        "h": 422
    },
    {
        "id": "2ef850dd842e8902",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "33fdcfe62389684f",
            "5e29774a7f068025",
            "49500750ca9d3cd9",
            "4c6df290bbb970ba",
            "16371f56f3bf5fa8",
            "ceb8691e1ce52c18",
            "be5aa4eec4e098ee",
            "d386dec658758487",
            "f4ea329f53895648",
            "fc68075227742aea",
            "fdbf1b4e30ab4899",
            "6c39071d9cd31e64",
            "9f1d61d215bb4b44",
            "28f65d4e647d228e",
            "079925231ed0fbf3",
            "717e6808946e1a69"
        ],
        "x": 1134,
        "y": 1839,
        "w": 992,
        "h": 662
    },
    {
        "id": "98a22988b8f875e3",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32dbc951bd527b5e",
            "164511edf996307c",
            "207c2405b5265e37",
            "a5e127e752319c02",
            "6cde72d4acfcc446",
            "8a6dfb6b80a21782",
            "0f6831223b5c7b9a",
            "bc77376e65f02f8c",
            "9fe7de74ebe1c74b",
            "0c83daba2ee2f3b9",
            "0d931ac3832b4592",
            "e30fb74025bd6b34",
            "135550dadda3ffd4",
            "d11de7c664456bb3",
            "62046da4efeee564",
            "dea25b773996344b"
        ],
        "x": 1134,
        "y": 2559,
        "w": 992,
        "h": 662
    },
    {
        "id": "ba4aa378b7fab2fe",
        "type": "group",
        "z": "dbe1d2f6303abda1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "503e07e63d3683d4",
            "dcbe444be6419cc2",
            "ce52157d450d8f77",
            "9ba5f4bf6b3bcaf2",
            "659563af6d74f946",
            "758f197298c1881d",
            "2f0cf5b59950fbd4",
            "7cd2d021b716eca3",
            "94423d56fde5e5f5",
            "62b4c459076cadb5",
            "5d0c9bc106ce287e",
            "a18e591cc5c58a8a",
            "98c12e56aacccd00",
            "f464b86c0d2548a3",
            "c9a99673e098f9ea",
            "8b0127114b6111d5",
            "e6500863e67457ca",
            "25f7ee6103d3f53d",
            "61205cbb1e21725a",
            "1150f4dffe7c2a1c",
            "3ea1af1920700bb5",
            "5c7a754a5debbeed"
        ],
        "x": 1134,
        "y": 3279,
        "w": 1012,
        "h": 902
    },
    {
        "id": "d662e5178d6c3e0c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "4586c4e6fe4d9885",
                "9e31ca9855939762"
            ]
        ]
    },
    {
        "id": "4586c4e6fe4d9885",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "9e31ca9855939762",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "09f6e9206fd8fd7f",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "d9874e07078ae7d4",
                "2e89f8e173bca0af"
            ]
        ]
    },
    {
        "id": "d9874e07078ae7d4",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "2e89f8e173bca0af",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "fddec7351cb7d8fd",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "1d50dd2d8c8185d9",
                "a8da112124153f86"
            ]
        ]
    },
    {
        "id": "1d50dd2d8c8185d9",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "a8da112124153f86",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "294e9ad57323fbb5",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "38a570eca1656a59",
                "db122108c3c81983"
            ]
        ]
    },
    {
        "id": "38a570eca1656a59",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "db122108c3c81983",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "76e52d5cd5aa8b9d",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "43b6ba8172f6311f",
                "294cd066763d2b0a"
            ]
        ]
    },
    {
        "id": "43b6ba8172f6311f",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 780,
        "wires": []
    },
    {
        "id": "294cd066763d2b0a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "9fe5c0250cb551a0",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "fdc48aed0e0fcee4",
                "4f95a604270f1d26"
            ]
        ]
    },
    {
        "id": "fdc48aed0e0fcee4",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 900,
        "wires": []
    },
    {
        "id": "4f95a604270f1d26",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "d576056825d91240",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 960,
        "wires": [
            [
                "c9e407df9e5b52de",
                "86bf70e06a84bb65"
            ]
        ]
    },
    {
        "id": "c9e407df9e5b52de",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 1020,
        "wires": []
    },
    {
        "id": "86bf70e06a84bb65",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 960,
        "wires": []
    },
    {
        "id": "64c43daa5bd30f92",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "a55fac83565222b9",
                "3d16d2f8bf672123"
            ]
        ]
    },
    {
        "id": "a55fac83565222b9",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3d16d2f8bf672123",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3080a2292a8e8f33",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "Tild - Reported",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "9a2bf44e437af364",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "df7f2433fa772df7",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "57843bcb989af739",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "7822612f9e7f73ec",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d9bb938a862de0c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1440,
        "wires": [
            [
                "da5f965d0b44815a",
                "c7361e40c1b54223"
            ]
        ]
    },
    {
        "id": "da5f965d0b44815a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c7361e40c1b54223",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_bright/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 1440,
        "wires": []
    },
    {
        "id": "2a25a9ab583e40b5",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1560,
        "wires": [
            [
                "217e4d4200c1b503",
                "48c16d8b8e03cd56"
            ]
        ]
    },
    {
        "id": "217e4d4200c1b503",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1620,
        "wires": []
    },
    {
        "id": "48c16d8b8e03cd56",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_code/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 1560,
        "wires": []
    },
    {
        "id": "eae5c826839e042d",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1680,
        "wires": [
            [
                "bb2970362376ecd6",
                "f2a59b9c40d42ce7"
            ]
        ]
    },
    {
        "id": "bb2970362376ecd6",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f2a59b9c40d42ce7",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/filt_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 1680,
        "wires": []
    },
    {
        "id": "8a50e3d235fc3e39",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1800,
        "wires": [
            [
                "a48781f1a8bd070a",
                "675865b58b28722c"
            ]
        ]
    },
    {
        "id": "a48781f1a8bd070a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1860,
        "wires": []
    },
    {
        "id": "675865b58b28722c",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u16_w/aux_conf/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 1800,
        "wires": []
    },
    {
        "id": "c42b9f597cdd8870",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "Tild - Desired",
        "info": "",
        "x": 130,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e290aea84f9210bb",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "5d106a016966ab99",
                "0b4f92c4033f963b"
            ]
        ]
    },
    {
        "id": "0b4f92c4033f963b",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5d106a016966ab99",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "cbea10643e870bd6",
        "name": "",
        "topic": "tild_XXXXXXXXXXXX/u8_w/light_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5b91f6044888ebab",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2160,
        "wires": [
            [
                "57b3d9fc83ca1ecd",
                "b7679d18c7e855a5"
            ]
        ]
    },
    {
        "id": "57b3d9fc83ca1ecd",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2220,
        "wires": []
    },
    {
        "id": "b7679d18c7e855a5",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 2160,
        "wires": []
    },
    {
        "id": "1338b09527fd5ae2",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2280,
        "wires": [
            [
                "fb78df5d80a055db",
                "234ee30991825d9b"
            ]
        ]
    },
    {
        "id": "fb78df5d80a055db",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2340,
        "wires": []
    },
    {
        "id": "234ee30991825d9b",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 2280,
        "wires": []
    },
    {
        "id": "7325ea3d6c7c30fd",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2400,
        "wires": [
            [
                "19c266acf5169073",
                "32332b513023a804"
            ]
        ]
    },
    {
        "id": "19c266acf5169073",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2460,
        "wires": []
    },
    {
        "id": "32332b513023a804",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 2400,
        "wires": []
    },
    {
        "id": "c18d7df68595120d",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2520,
        "wires": [
            [
                "2d571af97fa87e00",
                "4a48c1eed9b04e85"
            ]
        ]
    },
    {
        "id": "2d571af97fa87e00",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2580,
        "wires": []
    },
    {
        "id": "4a48c1eed9b04e85",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 2520,
        "wires": []
    },
    {
        "id": "77e5877662c2e8ea",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2640,
        "wires": [
            [
                "5be68b31eb3b4697",
                "d81cb5a704e50f4c"
            ]
        ]
    },
    {
        "id": "5be68b31eb3b4697",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2700,
        "wires": []
    },
    {
        "id": "d81cb5a704e50f4c",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 2640,
        "wires": []
    },
    {
        "id": "9984d87cf1e0c50c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2760,
        "wires": [
            [
                "411535f7af1a944d",
                "0d0e45736b868656"
            ]
        ]
    },
    {
        "id": "411535f7af1a944d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2820,
        "wires": []
    },
    {
        "id": "0d0e45736b868656",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 2760,
        "wires": []
    },
    {
        "id": "64f766970469fa9f",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 2880,
        "wires": [
            [
                "2cc56bde752b7cd7",
                "a11da917fbd43e1a"
            ]
        ]
    },
    {
        "id": "2cc56bde752b7cd7",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2940,
        "wires": []
    },
    {
        "id": "a11da917fbd43e1a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 2880,
        "wires": []
    },
    {
        "id": "0a15569a6a54412e",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "AnteaM - Reported",
        "info": "",
        "x": 150,
        "y": 2000,
        "wires": []
    },
    {
        "id": "53e6d18b6e871f68",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "c65259de21129143",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 2100,
        "wires": []
    },
    {
        "id": "7293ff7473804f7a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "9d57858d445a279a",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e9381c406ffcbe03",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/filt_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 3240,
        "wires": [
            [
                "768110c512a427d2",
                "678599a1a75ec860"
            ]
        ]
    },
    {
        "id": "768110c512a427d2",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3300,
        "wires": []
    },
    {
        "id": "678599a1a75ec860",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/filt_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 3240,
        "wires": []
    },
    {
        "id": "b404b0dc5ad64c0f",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 3360,
        "wires": [
            [
                "2fdc1d881628cd81",
                "645241f662de1e1a"
            ]
        ]
    },
    {
        "id": "2fdc1d881628cd81",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3420,
        "wires": []
    },
    {
        "id": "645241f662de1e1a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux1_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 3360,
        "wires": []
    },
    {
        "id": "c21a379486cc21fa",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 3480,
        "wires": [
            [
                "d573ad6dd73497de",
                "01579c1d722856f5"
            ]
        ]
    },
    {
        "id": "d573ad6dd73497de",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3540,
        "wires": []
    },
    {
        "id": "01579c1d722856f5",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/aux2_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 3480,
        "wires": []
    },
    {
        "id": "aed6395dbb156bd0",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 3600,
        "wires": [
            [
                "3d325f6fae9078f3",
                "82efe38ff50624d1"
            ]
        ]
    },
    {
        "id": "3d325f6fae9078f3",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3660,
        "wires": []
    },
    {
        "id": "82efe38ff50624d1",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 3600,
        "wires": []
    },
    {
        "id": "5dc2cb1414dfbf96",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "AnteaM - Desired",
        "info": "",
        "x": 140,
        "y": 3080,
        "wires": []
    },
    {
        "id": "568a06d89dd7af6a",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 3120,
        "wires": [
            [
                "b0a2a3865b7ded15",
                "bd49d2d574a862a0"
            ]
        ]
    },
    {
        "id": "bd49d2d574a862a0",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3180,
        "wires": []
    },
    {
        "id": "b0a2a3865b7ded15",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "05b8df37aa7543c6",
        "name": "",
        "topic": "anteam_XXXXXXXXXXXX/u8_w/light_mode/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "36d8c6ecdcc66ee4",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 3960,
        "wires": [
            [
                "2c6a34e97ac4f1cd",
                "aba4657d86daecf9"
            ]
        ]
    },
    {
        "id": "2c6a34e97ac4f1cd",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4020,
        "wires": []
    },
    {
        "id": "aba4657d86daecf9",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 3960,
        "wires": []
    },
    {
        "id": "a99f34d3372f24cd",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 4080,
        "wires": [
            [
                "e247ef3c471786d3",
                "b0acbeef6ee9d592"
            ]
        ]
    },
    {
        "id": "e247ef3c471786d3",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4140,
        "wires": []
    },
    {
        "id": "b0acbeef6ee9d592",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 4080,
        "wires": []
    },
    {
        "id": "192e49e45cc98e50",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 4200,
        "wires": [
            [
                "d85451d45d34d5e0",
                "7e195b7c7743f0a2"
            ]
        ]
    },
    {
        "id": "d85451d45d34d5e0",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4260,
        "wires": []
    },
    {
        "id": "7e195b7c7743f0a2",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 4200,
        "wires": []
    },
    {
        "id": "a077d56c5d82b090",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 4320,
        "wires": [
            [
                "13d84f6e6c522101",
                "4afdc82d2d900d39"
            ]
        ]
    },
    {
        "id": "13d84f6e6c522101",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4380,
        "wires": []
    },
    {
        "id": "4afdc82d2d900d39",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 4320,
        "wires": []
    },
    {
        "id": "26a45481c4b9b159",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 4440,
        "wires": [
            [
                "8643670aca2ac00f",
                "5da8af696468dfa3"
            ]
        ]
    },
    {
        "id": "8643670aca2ac00f",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4500,
        "wires": []
    },
    {
        "id": "5da8af696468dfa3",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 4440,
        "wires": []
    },
    {
        "id": "9821b7fd06ecd685",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "Daisy OX - Reported",
        "info": "",
        "x": 150,
        "y": 3800,
        "wires": []
    },
    {
        "id": "11166e1cb33377b3",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 3840,
        "wires": [
            []
        ]
    },
    {
        "id": "18238e629b829ac8",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 3900,
        "wires": []
    },
    {
        "id": "b4f2649aa99aadbf",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "e2873dcd279ca856",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 760,
        "y": 3840,
        "wires": []
    },
    {
        "id": "b42832148683f0a3",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 4800,
        "wires": [
            [
                "5ee103b4bceaf33b",
                "f01e2147da922bb8"
            ]
        ]
    },
    {
        "id": "5ee103b4bceaf33b",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4860,
        "wires": []
    },
    {
        "id": "f01e2147da922bb8",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 800,
        "y": 4800,
        "wires": []
    },
    {
        "id": "8a922823ac0df337",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 4920,
        "wires": [
            [
                "83f3114936f8f83d",
                "1f17f8ad85684805"
            ]
        ]
    },
    {
        "id": "83f3114936f8f83d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4980,
        "wires": []
    },
    {
        "id": "1f17f8ad85684805",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 4920,
        "wires": []
    },
    {
        "id": "2cb163d6a6abec48",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "Daisy OX - Desired",
        "info": "",
        "x": 150,
        "y": 4640,
        "wires": []
    },
    {
        "id": "cc98f43356d50bca",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 4680,
        "wires": [
            [
                "f0d116c4f41adac4",
                "904472c9a1cd20bf"
            ]
        ]
    },
    {
        "id": "904472c9a1cd20bf",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 4740,
        "wires": []
    },
    {
        "id": "f0d116c4f41adac4",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "49ff7370395e19da",
        "name": "",
        "topic": "daisyox_XXXXXXXXXXXX/u16_w/consigne_orp/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 4680,
        "wires": []
    },
    {
        "id": "d36c4e6837d9937e",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 5280,
        "wires": [
            [
                "c9702435e57f9c1a",
                "adef2746145e7323"
            ]
        ]
    },
    {
        "id": "c9702435e57f9c1a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5340,
        "wires": []
    },
    {
        "id": "adef2746145e7323",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 810,
        "y": 5280,
        "wires": []
    },
    {
        "id": "1983a487cec63dca",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 5400,
        "wires": [
            [
                "1c1e9d0d57b06edb",
                "49e25fa2cd686490"
            ]
        ]
    },
    {
        "id": "1c1e9d0d57b06edb",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5460,
        "wires": []
    },
    {
        "id": "49e25fa2cd686490",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 5400,
        "wires": []
    },
    {
        "id": "62d160c87cb8f78e",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 5520,
        "wires": [
            [
                "ce498a3d57368774",
                "1309ba50f68cba6c"
            ]
        ]
    },
    {
        "id": "ce498a3d57368774",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5580,
        "wires": []
    },
    {
        "id": "1309ba50f68cba6c",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 5520,
        "wires": []
    },
    {
        "id": "fe7f79c6dad722e3",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 5640,
        "wires": [
            [
                "e30953fb9e572116",
                "7d1c2fb7cf2df5aa"
            ]
        ]
    },
    {
        "id": "e30953fb9e572116",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5700,
        "wires": []
    },
    {
        "id": "7d1c2fb7cf2df5aa",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 820,
        "y": 5640,
        "wires": []
    },
    {
        "id": "9455c9cf45e894f8",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 5760,
        "wires": [
            [
                "b877123738c1411d",
                "1839caa4080b114d"
            ]
        ]
    },
    {
        "id": "b877123738c1411d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5820,
        "wires": []
    },
    {
        "id": "1839caa4080b114d",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 800,
        "y": 5760,
        "wires": []
    },
    {
        "id": "47cce9bbba55108b",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "Daisy PH - Reported",
        "info": "",
        "x": 150,
        "y": 5120,
        "wires": []
    },
    {
        "id": "39f67bfe010d585d",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 5160,
        "wires": [
            []
        ]
    },
    {
        "id": "094da0a7acd32c38",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5220,
        "wires": []
    },
    {
        "id": "26085e7665f7111f",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 780,
        "y": 5160,
        "wires": []
    },
    {
        "id": "bb54215bf26f07d9",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 5880,
        "wires": []
    },
    {
        "id": "16015b441d1a2199",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 5880,
        "wires": [
            [
                "7d16758a9ff8db80",
                "bb54215bf26f07d9"
            ]
        ]
    },
    {
        "id": "7d16758a9ff8db80",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "b7bdec72ea998e86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 5940,
        "wires": []
    },
    {
        "id": "8c6a9d066c035a6a",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 6240,
        "wires": [
            [
                "19a0164d7bbc205c",
                "e8bafb3c3ae38947"
            ]
        ]
    },
    {
        "id": "19a0164d7bbc205c",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6300,
        "wires": []
    },
    {
        "id": "e8bafb3c3ae38947",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 800,
        "y": 6240,
        "wires": []
    },
    {
        "id": "74e84c79427fac1c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 6360,
        "wires": [
            [
                "c7e069017250b4ef",
                "a4d2b912c9d14524"
            ]
        ]
    },
    {
        "id": "c7e069017250b4ef",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6420,
        "wires": []
    },
    {
        "id": "a4d2b912c9d14524",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 780,
        "y": 6360,
        "wires": []
    },
    {
        "id": "1a6f555c7288634a",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "Daisy PH - Desired",
        "info": "",
        "x": 150,
        "y": 6080,
        "wires": []
    },
    {
        "id": "4b20e42f89a592cf",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 6120,
        "wires": [
            [
                "05aa3e207ee7568c",
                "b54674daa48b23c9"
            ]
        ]
    },
    {
        "id": "b54674daa48b23c9",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6180,
        "wires": []
    },
    {
        "id": "05aa3e207ee7568c",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "3c64a7d45cc93a46",
        "name": "",
        "topic": "daisyph_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 820,
        "y": 6120,
        "wires": []
    },
    {
        "id": "2a863272aee9423a",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 6720,
        "wires": [
            [
                "f87f4518901ac854",
                "8b04ba083414674e"
            ]
        ]
    },
    {
        "id": "f87f4518901ac854",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6780,
        "wires": []
    },
    {
        "id": "8b04ba083414674e",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_24h_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 6720,
        "wires": []
    },
    {
        "id": "c0a960c189210efc",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 6840,
        "wires": [
            [
                "4ca1e062752e1b3f",
                "a19d3959697bb1ec"
            ]
        ]
    },
    {
        "id": "4ca1e062752e1b3f",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6900,
        "wires": []
    },
    {
        "id": "a19d3959697bb1ec",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u16_r/vol_tot_inject/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 790,
        "y": 6840,
        "wires": []
    },
    {
        "id": "094e10335ba69076",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "Lynx - Reported",
        "info": "",
        "x": 140,
        "y": 6560,
        "wires": []
    },
    {
        "id": "c9c430d912c54cc1",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 6600,
        "wires": [
            [
                "b72bee47d1dddb0a",
                "fe22cbf40cd04360"
            ]
        ]
    },
    {
        "id": "fe22cbf40cd04360",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 6660,
        "wires": []
    },
    {
        "id": "b72bee47d1dddb0a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ac731eebb56260a7",
        "name": "",
        "topic": "lynx_XXXXXXXXXXXX/u8_r/inject_on/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 770,
        "y": 6600,
        "wires": []
    },
    {
        "id": "b64fba8cda5e06ce",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "93fce8d61a2c2ead",
                "3122ea6d0922b771"
            ]
        ]
    },
    {
        "id": "93fce8d61a2c2ead",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 300,
        "wires": []
    },
    {
        "id": "3122ea6d0922b771",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 240,
        "wires": []
    },
    {
        "id": "72a204b87129c3d9",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 360,
        "wires": [
            [
                "cd624d31371ef944",
                "1a6fc6b48d61b7c2"
            ]
        ]
    },
    {
        "id": "cd624d31371ef944",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 420,
        "wires": []
    },
    {
        "id": "1a6fc6b48d61b7c2",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 360,
        "wires": []
    },
    {
        "id": "de852ba850dfeb51",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "Phileo VP - Reported",
        "info": "",
        "x": 1260,
        "y": 80,
        "wires": []
    },
    {
        "id": "76cef43532f98dda",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db94e9c360ee567a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 180,
        "wires": []
    },
    {
        "id": "80a8790b735ae47e",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1860,
        "y": 120,
        "wires": []
    },
    {
        "id": "990c5fed4d22201e",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 480,
        "wires": [
            [
                "3ddf14fcca801653",
                "a6c68a83f9ec1a47"
            ]
        ]
    },
    {
        "id": "3ddf14fcca801653",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 540,
        "wires": []
    },
    {
        "id": "a6c68a83f9ec1a47",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1920,
        "y": 480,
        "wires": []
    },
    {
        "id": "26d3bf8d0f1e888f",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1900,
        "y": 600,
        "wires": []
    },
    {
        "id": "ffb4ea7707a4e88f",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "8619cbb7baa68c41",
                "26d3bf8d0f1e888f"
            ]
        ]
    },
    {
        "id": "8619cbb7baa68c41",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 660,
        "wires": []
    },
    {
        "id": "3962d2a69376d7af",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 720,
        "wires": [
            [
                "c24789fb98cfa65a",
                "8bb1d361e7196673"
            ]
        ]
    },
    {
        "id": "c24789fb98cfa65a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 780,
        "wires": []
    },
    {
        "id": "8bb1d361e7196673",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 720,
        "wires": []
    },
    {
        "id": "ec627a4bb0596422",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/sw_vers/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 840,
        "wires": [
            [
                "858eaa9e0e9c35ab",
                "f5c1bc35d1037ec1"
            ]
        ]
    },
    {
        "id": "858eaa9e0e9c35ab",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 900,
        "wires": []
    },
    {
        "id": "f5c1bc35d1037ec1",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/sw_vers/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 840,
        "wires": []
    },
    {
        "id": "ef8c5f2e1c5afa09",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 960,
        "wires": [
            [
                "db2b6e1604c6d27c",
                "183a2bce3a85225c"
            ]
        ]
    },
    {
        "id": "db2b6e1604c6d27c",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1020,
        "wires": []
    },
    {
        "id": "183a2bce3a85225c",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 960,
        "wires": []
    },
    {
        "id": "8d3ae6ce9c71f9a6",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 1080,
        "wires": [
            [
                "105360f62b457dbe",
                "969d9868e50f16f7"
            ]
        ]
    },
    {
        "id": "105360f62b457dbe",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1140,
        "wires": []
    },
    {
        "id": "969d9868e50f16f7",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/mode_ph/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 1080,
        "wires": []
    },
    {
        "id": "700f312a47b8d3ff",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/hw_vers/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 1200,
        "wires": [
            [
                "1c34bfd97d4d46c5",
                "6c0a7b3d9f4faf5f"
            ]
        ]
    },
    {
        "id": "1c34bfd97d4d46c5",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6c0a7b3d9f4faf5f",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "bfb8454bdd3f2095",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u8_r/hw_vers/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "344fa2f5aafb2577",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 1560,
        "wires": [
            [
                "2912c0f72b82b70d",
                "642a62c321b22a56"
            ]
        ]
    },
    {
        "id": "2912c0f72b82b70d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1620,
        "wires": []
    },
    {
        "id": "642a62c321b22a56",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_max_24h/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1900,
        "y": 1560,
        "wires": []
    },
    {
        "id": "37aab889c7eab549",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 1680,
        "wires": [
            [
                "6fa3c21756ddbdd7",
                "78015fa8f4baedc1"
            ]
        ]
    },
    {
        "id": "6fa3c21756ddbdd7",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1740,
        "wires": []
    },
    {
        "id": "78015fa8f4baedc1",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/vol_bac/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1880,
        "y": 1680,
        "wires": []
    },
    {
        "id": "034ccf583504bad3",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "Phileo VP - Desired",
        "info": "",
        "x": 1250,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b8cf2b2f79eb44fb",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 1440,
        "wires": [
            [
                "c7a16e1dde3ae333",
                "446d1fd65046f02d"
            ]
        ]
    },
    {
        "id": "446d1fd65046f02d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c7a16e1dde3ae333",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "4c481817f8ffb91e",
        "name": "",
        "topic": "phileox_XXXXXXXXXXXX/u16_w/consigne_ph/consigne/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1910,
        "y": 1440,
        "wires": []
    },
    {
        "id": "33fdcfe62389684f",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 2040,
        "wires": [
            [
                "5e29774a7f068025",
                "49500750ca9d3cd9"
            ]
        ]
    },
    {
        "id": "5e29774a7f068025",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2100,
        "wires": []
    },
    {
        "id": "49500750ca9d3cd9",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4c6df290bbb970ba",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 2160,
        "wires": [
            [
                "16371f56f3bf5fa8",
                "ceb8691e1ce52c18"
            ]
        ]
    },
    {
        "id": "16371f56f3bf5fa8",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2220,
        "wires": []
    },
    {
        "id": "ceb8691e1ce52c18",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 2160,
        "wires": []
    },
    {
        "id": "be5aa4eec4e098ee",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "Vigibrio - Reported",
        "info": "",
        "x": 1250,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d386dec658758487",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1350,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ea329f53895648",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 1980,
        "wires": []
    },
    {
        "id": "fc68075227742aea",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 1920,
        "wires": []
    },
    {
        "id": "fdbf1b4e30ab4899",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 2280,
        "wires": [
            [
                "6c39071d9cd31e64",
                "9f1d61d215bb4b44"
            ]
        ]
    },
    {
        "id": "6c39071d9cd31e64",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2340,
        "wires": []
    },
    {
        "id": "9f1d61d215bb4b44",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 2280,
        "wires": []
    },
    {
        "id": "28f65d4e647d228e",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 2400,
        "wires": []
    },
    {
        "id": "079925231ed0fbf3",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 2400,
        "wires": [
            [
                "717e6808946e1a69",
                "28f65d4e647d228e"
            ]
        ]
    },
    {
        "id": "717e6808946e1a69",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "2ef850dd842e8902",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2460,
        "wires": []
    },
    {
        "id": "32dbc951bd527b5e",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1350,
        "y": 2760,
        "wires": [
            [
                "164511edf996307c",
                "207c2405b5265e37"
            ]
        ]
    },
    {
        "id": "164511edf996307c",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2820,
        "wires": []
    },
    {
        "id": "207c2405b5265e37",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_bright/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1880,
        "y": 2760,
        "wires": []
    },
    {
        "id": "a5e127e752319c02",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 2880,
        "wires": [
            [
                "6cde72d4acfcc446",
                "8a6dfb6b80a21782"
            ]
        ]
    },
    {
        "id": "6cde72d4acfcc446",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2940,
        "wires": []
    },
    {
        "id": "8a6dfb6b80a21782",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/s128_w/x3_color/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1880,
        "y": 2880,
        "wires": []
    },
    {
        "id": "0f6831223b5c7b9a",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "Vigibrio - Desired",
        "info": "",
        "x": 1240,
        "y": 2600,
        "wires": []
    },
    {
        "id": "bc77376e65f02f8c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1350,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "9fe7de74ebe1c74b",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 2700,
        "wires": []
    },
    {
        "id": "0c83daba2ee2f3b9",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_state/info/desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1870,
        "y": 2640,
        "wires": []
    },
    {
        "id": "0d931ac3832b4592",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1350,
        "y": 3000,
        "wires": [
            [
                "e30fb74025bd6b34",
                "135550dadda3ffd4"
            ]
        ]
    },
    {
        "id": "e30fb74025bd6b34",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3060,
        "wires": []
    },
    {
        "id": "135550dadda3ffd4",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u8_w/x3_speed/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1880,
        "y": 3000,
        "wires": []
    },
    {
        "id": "d11de7c664456bb3",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2645f3e28f39138",
        "x": 1890,
        "y": 3120,
        "wires": []
    },
    {
        "id": "62046da4efeee564",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "topic": "x312_XXXXXXXXXXXX/u32_w/light_timer/info/desired",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3f5aaaee2b30dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 3120,
        "wires": [
            [
                "dea25b773996344b",
                "d11de7c664456bb3"
            ]
        ]
    },
    {
        "id": "dea25b773996344b",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "98a22988b8f875e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3180,
        "wires": []
    },
    {
        "id": "503e07e63d3683d4",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 3480,
        "wires": [
            [
                "dcbe444be6419cc2",
                "ce52157d450d8f77"
            ]
        ]
    },
    {
        "id": "dcbe444be6419cc2",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3540,
        "wires": []
    },
    {
        "id": "ce52157d450d8f77",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s44_r/device_id/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 3480,
        "wires": []
    },
    {
        "id": "9ba5f4bf6b3bcaf2",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 3600,
        "wires": [
            [
                "659563af6d74f946",
                "758f197298c1881d"
            ]
        ]
    },
    {
        "id": "659563af6d74f946",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3660,
        "wires": []
    },
    {
        "id": "758f197298c1881d",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/s33_r/serial_num/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 3600,
        "wires": []
    },
    {
        "id": "2f0cf5b59950fbd4",
        "type": "comment",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "Ofix - Reported",
        "info": "",
        "x": 1240,
        "y": 3320,
        "wires": []
    },
    {
        "id": "7cd2d021b716eca3",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "94423d56fde5e5f5",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3420,
        "wires": []
    },
    {
        "id": "62b4c459076cadb5",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/i8_r/rssi/info/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1860,
        "y": 3360,
        "wires": []
    },
    {
        "id": "5d0c9bc106ce287e",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 3720,
        "wires": [
            [
                "a18e591cc5c58a8a",
                "98c12e56aacccd00"
            ]
        ]
    },
    {
        "id": "a18e591cc5c58a8a",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3780,
        "wires": []
    },
    {
        "id": "98c12e56aacccd00",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_ph/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 3720,
        "wires": []
    },
    {
        "id": "f464b86c0d2548a3",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1890,
        "y": 3840,
        "wires": []
    },
    {
        "id": "c9a99673e098f9ea",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_orp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 3840,
        "wires": [
            [
                "8b0127114b6111d5",
                "f464b86c0d2548a3"
            ]
        ]
    },
    {
        "id": "8b0127114b6111d5",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 3900,
        "wires": []
    },
    {
        "id": "e6500863e67457ca",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 3960,
        "wires": [
            [
                "25f7ee6103d3f53d",
                "61205cbb1e21725a"
            ]
        ]
    },
    {
        "id": "25f7ee6103d3f53d",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 4020,
        "wires": []
    },
    {
        "id": "61205cbb1e21725a",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u16_r/value_temp/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1900,
        "y": 3960,
        "wires": []
    },
    {
        "id": "1150f4dffe7c2a1c",
        "type": "mqtt in",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u8_r/flow_on/value/reported",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2645f3e28f39138",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 4080,
        "wires": [
            [
                "3ea1af1920700bb5",
                "5c7a754a5debbeed"
            ]
        ]
    },
    {
        "id": "3ea1af1920700bb5",
        "type": "debug",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1730,
        "y": 4140,
        "wires": []
    },
    {
        "id": "5c7a754a5debbeed",
        "type": "mqtt out",
        "z": "dbe1d2f6303abda1",
        "g": "ba4aa378b7fab2fe",
        "name": "",
        "topic": "ziphox_XXXXXXXXXXXX/u8_r/flow_on/value/reported",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3f5aaaee2b30dcf",
        "x": 1880,
        "y": 4080,
        "wires": []
    },
    {
        "id": "c2645f3e28f39138",
        "type": "mqtt-broker",
        "name": "mqtt_vigipool",
        "broker": "192.168.41.999",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3f5aaaee2b30dcf",
        "type": "mqtt-broker",
        "name": "mqtt_local",
        "broker": "192.168.41.888",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]